<section class="catalog" id="catalog-section">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list" id="catalog-list">
      <li class="product-item">
        <div class="product-item-imgwrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog/image-0.webp    1x,
                /img/catalog/image@2x-0.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog/image-tab-0.webp     1x,
                /img/catalog/image-tab-@2x-0.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog/image-mob-0.webp     1x,
                /img/catalog/image-mob-@2x-0.webp 2x
              "
            />
            <img
              src="/img/catalog/image-0.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="304"
            />
          </picture>
        </div>
        <h3 class="product-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="product-price">€500</p>
      </li>
      <li class="product-item">
        <div class="product-item-imgwrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog/image-1.webp    1x,
                /img/catalog/image@2x-1.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog/image-tab-1.webp     1x,
                /img/catalog/image-tab-@2x-1.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog/image-mob-1.webp     1x,
                /img/catalog/image-mob-@2x-1.webp 2x
              "
            />
            <img
              src="/img/catalog/image-1.webp"
              alt="Garmin Marq Athlete "
              width="304"
            />
          </picture>
        </div>
        <h3 class="product-subtitle">Garmin Marq Athlete</h3>
        <p class="product-price">€450</p>
      </li>
      <li class="product-item">
        <div class="product-item-imgwrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog/image-2.webp    1x,
                /img/catalog/image@2x-2.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog/image-tab-2.webp     1x,
                /img/catalog/image-tab-@2x-2.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog/image-mob-2.webp     1x,
                /img/catalog/image-mob-@2x-2.webp 2x
              "
            />
            <img
              src="/img/catalog/image-2.webp"
              alt="Garmin Descent MK1"
              width="304"
            />
          </picture>
        </div>
        <h3 class="product-subtitle">Garmin Descent MK1</h3>
        <p class="product-price">€680</p>
      </li>
      <li class="product-item">
        <div class="product-item-imgwrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog/image-3.webp    1x,
                /img/catalog/image@2x-3.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog/image-tab-3.webp     1x,
                /img/catalog/image-tab-@2x-3.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog/image-mob-3.webp     1x,
                /img/catalog/image-mob-@2x-3.webp 2x
              "
            />
            <img
              src="/img/catalog/image-3.webp"
              alt="Garmin D2 Delta PX"
              width="304"
            />
          </picture>
        </div>
        <h3 class="product-subtitle">Garmin D2 Delta PX</h3>
        <p class="product-price">€380</p>
      </li>
      <li class="product-item">
        <div class="product-item-imgwrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog/image-4.webp    1x,
                /img/catalog/image@2x-4.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog/image-tab-4.webp     1x,
                /img/catalog/image-tab-@2x-4.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog/image-mob-4.webp     1x,
                /img/catalog/image-mob-@2x-4.webp 2x
              "
            />
            <img
              src="/img/catalog/image-4.webp"
              alt="Garmin Fenix 6 Pro Solar"
              width="304"
            />
          </picture>
        </div>
        <h3 class="product-subtitle">Garmin Fenix 6 Pro Solar</h3>
        <p class="product-price">€400</p>
      </li>
      <li class="product-item">
        <div class="product-item-imgwrap">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog/image-5.webp    1x,
                /img/catalog/image@2x-5.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog/image-tab-5.webp     1x,
                /img/catalog/image-tab-@2x-5.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog/image-mob-5.webp     1x,
                /img/catalog/image-mob-@2x-5.webp 2x
              "
            />
            <img
              src="/img/catalog/image-5.webp"
              alt="Tube Watch S42 Date Steel With Black Case"
              width="304"
            />
          </picture>
        </div>
        <h3 class="product-subtitle">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="product-price">€395</p>
      </li>
    </ul>
    <a href="#catalog-list" class="catalog-button show-more-btn"> Show more </a>
  </div>
</section>
