<footer class="footer" id="footer">
  <div class="container-footer">
    <div class="footeer-case">
      <div class="footer-intro">
        <div class="footer-tablet-wraper">
          <div class="footer-tablet-logo-social">
            <div class="footer-logo">
              <a href="/">watchcharm</a>
            </div>
            <div class="footer-social">
              <ul class="footer-social-list">
                <li class="footer-social-item">
                  <a
                    href="https://www.facebook.com/goITclub/"
                    target="_blank"
                    class="footer-social-link"
                  >
                    <svg width="18" height="18" class="icon footer-social-icon">
                      <use href="../img/footer-img/icon.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-social-item">
                  <a
                    href="https://www.instagram.com/goitclub/"
                    target="_blank"
                    class="footer-social-link"
                  >
                    <svg width="18" height="18" class="icon footer-social-icon">
                      <use href="../img/footer-img/icon.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-social-item">
                  <a
                    href="https://www.youtube.com/c/GoIT"
                    target="_blank"
                    class="footer-social-link"
                  >
                    <svg width="18" height="18" class="icon footer-social-icon">
                      <use href="../img/footer-img/icon.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-number">
            <a href="telto:+380684439426" class="footer-number-link">+380 (68) 443-94-26</a>
          </div>
        </div>
        
        <div class="footer-info">
          <p class="footer-info-text">
            Have the time of your life with our watches: where high-class
            craftsmanship meets impeccable design
          </p>
        </div>
      </div>
      <div class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="/">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="#">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#">Catalog</a>
          </li>
          <li class="footer-nav-item">
            <a href="#">Sale</a>
          </li>
          <li class="footer-nav-item">
            <a href="#">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a href="#">Contact Us</a>
          </li>
        </ul>
        <div class="footer-address-case">
          <address class="footer-nav-addres">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </address>
        </div>
      </div>
      <div class="footer-coopyrigth">
        <p class="footer-coopyrigth-text">©2023 The Watch Spot. All rights reserved.</p>
        <ul class="footer-copyright-list">
          <li class="footer-copyrigth-item">
            <a href="#">Terms of Service</a>
          </li>
          <li class="footer-copyrigth-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
