<header class="header-navi">
  <div class="container container-nav">
    <nav class="header-nav">
      <a class="nav-logo">watchcharm</a>
      <ul class="mobile-menu-list">
        <li class="mobile-menu-li">
          <a class="mobile-menu-a" href="#">Home</a>
         </li>
        <li class="mobile-menu-li">
          <a class="mobile-menu-a" href="#">About Us</a>
        </li>
        <li class="mobile-menu-li">
          <a class="mobile-menu-a" href="#">Catalog</a>
         </li>
        <li class="mobile-menu-li"> 
          <a class="mobile-menu-a" href="#">Sale</a>
        </li>
        <li class="mobile-menu-li"> 
          <a class="mobile-menu-a" href="#">Reviews</a>
        </li>
        <li class="mobile-menu-li"> 
          <a class="mobile-menu-a" href="#">Contact Us</a>
        </li>
      </ul>
      <div class="address-header">
        <ul class="mobile-menu-ul">
          <li class="mobile-menu-ic">
            <a class="icon" href="#">
              <svg class="icon-svg" width="18" height="18">
                <use href="/header.img/icon.svg#icon-facebook"></use>
              </svg>
           </a>
          </li>
          <li class="mobile-menu-ic">
            <a class="icon" href="#">
              <svg class="icon-svg" width="18" height="18">
                <use href="/header.img/icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-ic">
            <a class="icon" href="#">
              <svg class="icon-svg" width="18" height="18">
                <use href="/header.img/icon.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="burger-btm" type="button">
        <svg class="burger-icon" width="28" height="14">
          <use href="/header.img/icon.svg#icon-Icon"></use>
        </svg>
      </button>
      </div>  
    </nav>
  </div>
</header>
