<section class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-text">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-blue">collection</span> of
          premium watches
        </h1>

        <p class="hero-description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-person-scroll">
        <div class="hero-img-list">
          <picture class="hero-img-1">
            <source
              srcset="
                ./img/hero/hero-per1/hero-per1-1x.webp 1x,
                ./img/hero/hero-per1/hero-per1-2x.webp 2x
              "
              media="(min-width:1279px)"
            />
            <source
              srcset="
                ./img/hero/hero-per1/hero-per1-tab-1x.webp 1x,
                ./img/hero/hero-per1/hero-per1-tab-2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/hero/hero-per1/hero-per1-mob-1x.webp 1x,
                ./img/hero/hero-per1/hero-per1-mob-2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="hero-img"
              src="./img/hero/hero-per1/hero-per1-1x.webp"
              alt="hero-1"
            />
          </picture>

          <picture class="hero-img-2 none">
            <source
              srcset="
                ./img/hero/hero-per2/hero-per2-1x.webp 1x,
                ./img/hero/hero-per2/hero-per2-2x.webp 2x
              "
              media="(min-width:1279px)"
            />
            <source
              srcset="
                ./img/hero/hero-per2/hero-per2-tab-1x.webp 1x,
                ./img/hero/hero-per2/hero-per2-tab-2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/hero/hero-per2/hero-per2-mob-1x.webp 1x,
                ./img/hero/hero-per2/hero-per2-mob-2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="hero-img"
              src="./img/hero/hero-per2/hero-per2-1x.webp"
              alt="hero-1"
            />
          </picture>

          <picture class="hero-img-3 none">
            <source
              srcset="
                ./img/hero/hero-per3/hero-per3-1x.webp 1x,
                ./img/hero/hero-per3/hero-per3-2x.webp 2x
              "
              media="(min-width:1279px)"
            />
            <source
              srcset="
                ./img/hero/hero-per3/hero-per3-tab-1x.webp 1x,
                ./img/hero/hero-per3/hero-per3-tab-2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/hero/hero-per3/hero-per3-mob-1x.webp 1x,
                ./img/hero/hero-per3/hero-per3-mob-2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="hero-img"
              src="./img/hero/hero-per3/hero-per3-1x.webp"
              alt="hero-1"
            />
          </picture>
        </div>

        <a href="#footer" class="hero-scroll">Scroll down</a>
      </div>
    </div>

    <picture class="hero-watch-img">
      <source
        srcset="
          ./img/hero/hero-watch/hero-watch-1x.webp 1x,
          ./img/hero/hero-watch/hero-watch-2x.webp 2x
        "
        media="(min-width:1158px)"
      />
      <source
        srcset="
          ./img/hero/hero-watch/hero-watch-tab-1x.webp 1x,
          ./img/hero/hero-watch/hero-watch-tab-2x.webp 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/hero/hero-watch/hero-watch-mob-1x.webp 1x,
          ./img/hero/hero-watch/hero-watch-mob-2x.webp 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./img/hero/hero-watch/hero-watch-1x.webp"
        alt="Mark Guerrerro"
      />
    </picture>
  </div>
</section>
