<section class="sale" id="sale-section">
  <div class="container">
    <h2 class="sale-headline">Sale</h2>

    <div class="wrapper2">
      <div class="wrapper1">
        <ul class="sale-gallery">
          <li class="sale-item-gallery">
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="
                  /img/sale/desctop/desc-1-1x.webp 1x,
                  /img/sale/desctop/desc-1-2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  /img/sale/tablet/tab-1-1x.webp 1x,
                  /img/sale/tablet/tab-1-2x.webp 2x
                "
              />
              <source
                media="(max-width:767px)"
                srcset="
                  /img/sale/mob/mob-1-1x.webp 1x,
                  /img/sale/mob/mob-1-2x.webp 2x
                "
              />
              <img src="/img/sale/desctop/d" alt="watch" />
            </picture>
          </li>
          <li class="sale-item-gallery">
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="
                  /img/sale/desctop/desc-2-1x.webp 1x,
                  /img/sale/desctop/desc-2-2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  /img/sale/tablet/tab-2-1x.webp 1x,
                  /img/sale/tablet/tab-2-2x.webp 2x
                "
              />
              <source
                media="(max-width:767px)"
                srcset="
                  /img/sale/mob/mob-2-1x.webp 1x,
                  /img/sale/mob/mob-2-2x.webp 2x
                "
              />
              <img src="/img/sale/desctop/desc-2-1x.webp" alt="watch" />
            </picture>
          </li>
          <li class="sale-item-gallery">
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="
                  /img/sale/desctop/desc-3-1x.webp 1x,
                  /img/sale/desctop/desc-3-2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  /img/sale/tablet/tab-3-1x.webp 1x,
                  /img/sale/tablet/tab-3-2x.webp 2x
                "
              />
              <source
                media="(max-width:767px)"
                srcset="
                  /img/sale/mob/mob-3-1x.webp 1x,
                  /img/sale/mob/mob-3-2x.webp 2x
                "
              />
              <img src="/img/sale/desctop/desc-3-1x.webp" alt="watch" />
            </picture>
          </li>
          <li class="sale-item-gallery">
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="
                  /img/sale/desctop/desc-4-1x.webp 1x,
                  /img/sale/desctop/desc-4-2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  /img/sale/tablet/tab-4-1x.webp 1x,
                  /img/sale/tablet/tab-4-2x.webp 2x
                "
              />
              <source
                media="(max-width:767px)"
                srcset="
                  /img/sale/mob/mob-4-1x.webp 1x,
                  /img/sale/mob/mob-4-2x.webp 2x
                "
              />
              <img src="/img/sale/desctop/desc-4-1x.webp" alt="watch" />
            </picture>
          </li>
        </ul>

        <div class="sale-main-img">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /img/sale/desctop/main-desc-1x.webp 1x,
                /img/sale/desctop/main-desc-2x.webp 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/sale/tablet/tab-main-1x.webp 1x,
                /img/sale/tablet/tab-main-2x.webp 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/sale/mob/mob-main-1x.webp 1x,
                /img/sale/mob/mob-main-2x.webp 2x
              "
            />
            <img src="/img/sale/desctop/main-desc-1x.webp" alt="watch" />
          </picture>
        </div>
      </div>

      <div class="sale-card">
        <h3 class="sale-card-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>

        <div class="sale-price-block">
          <span class="sale-price">€1500</span
          ><span class="sale-old-price">€3000</span>
        </div>

        <p class="sale-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sale-tags">
          <li class="sale-tag">Fused carbon fiber</li>
          <li class="sale-tag">Grade-5 Titanium</li>
          <li class="sale-tag">Athlete</li>
          <li class="sale-tag">Golfer</li>
          <li class="sale-tag">Commander</li>
          <li class="sale-tag">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
