<section class="sale">
  <div class="container">
    <h2 class="sale-headline">Sale</h2>

    <div class="sale-content">
      <div class="sale-imgs">
        <ul class="sale-gallery">
          <li class="sale-item-gallery">
            <picture class="">
              <source
                srcset="
                  /img/sale/img-1/img-1-mob-1x.png 1x,
                  /img/sale/img-1/img-1-mob-2x.png 2x
                "
                media="(min-width:1158px)"
              />
              <source
                srcset="
                  /img/sale/img-1/img-1-tab-1x.png 1x,
                  /img/sale/img-1/img-1-tab-2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/sale/img-1/img-1-mob-1x.png 1x,
                  /img/sale/img-1/img-1-mob-2x.png 2x
                "
                media="(max-width:767px)"
              />
              <img src="/img/sale/img-1/img-1-1x.png" alt="watch-card" />
            </picture>
          </li>
          <li class="sale-item-gallery">
            <picture class="">
              <source srcset="" media="(min-width:1158px)" />
              <source srcset="" media="(min-width:768px)" />
              <source srcset="" media="(max-width:767px)" />
              <img src="/img/sale/2.png" alt="watch-card" />
            </picture>
          </li>
          <li class="sale-item-gallery">
            <picture class="">
              <source srcset="" media="(min-width:1158px)" />
              <source srcset="" media="(min-width:768px)" />
              <source srcset="" media="(max-width:767px)" />
              <img src="/img/sale/3.png" alt="watch-card" />
            </picture>
          </li>
          <li class="sale-item-gallery">
            <picture class="">
              <source srcset="" media="(min-width:1158px)" />
              <source srcset="" media="(min-width:768px)" />
              <source srcset="" media="(max-width:767px)" />
              <img src="/img/sale/4.png" alt="watch-card" />
            </picture>
          </li>
        </ul>

        <div class="sale-main-img">
          <picture class="">
            <source srcset="" media="(min-width:1158px)" />
            <source srcset="" media="(min-width:768px)" />
            <source srcset="" media="(max-width:767px)" />
            <img src="/img/sale/img-1/3-3.png" alt="watch-card" />
          </picture>
        </div>
      </div>

      <div class="sale-card">
        <h3 class="sale-card-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>

        <div class="sale-price-block">
          <span class="sale-price">€1500</span>
          <span class="sale-old-price">€3000</span>
        </div>

        <p class="sale-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <div class="sale-tags">
          <span class="sale-tag">Fused carbon fiber</span>
          <span class="sale-tag">Grade-5 Titanium</span>
          <span class="sale-tag">Athlete</span>
          <span class="sale-tag">Golfer</span>
          <span class="sale-tag">Commander</span>
          <span class="sale-tag">Adventurer</span>
        </div>
      </div>
    </div>
  </div>
</section>
