.admertisement {
}
.admertisement-image {
  display: flex;
  flex-direction: column;
  padding: 60px 28px;
  border: 1px solid #000;
  border-radius: 30px;

  background-image: linear-gradient(
      rgba(12, 12, 12, 0.8),
      rgba(12, 12, 12, 0.8)
    ),
    url(../img/adv/image-adv-mob.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media screen and (min-resolution: 2x) {
  .admertisement-image {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(../img/adv/image-adv-mob@2x.webp);
  }
}
.admertisement-title {
  font-weight: 600;
  font-size: 32px;
  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 28px;
}
.your-story {
  color: rgba(251, 251, 251, 0.5);
}
.admertisement-button {
  display: block;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.admertisement-button:hover,
.admertisement-button:focus {
  color: #0c0c0c;
  background: #fbfbfb;
}
@media screen and (min-width: 768px) {
  .admertisement-image {
    min-width: 704px;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(../img/adv/image-adv-tab.webp);
    padding: 80px 64px;
  }
  @media screen and (min-resolution: 2x) {
    .admertisement-image {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.8),
          rgba(12, 12, 12, 0.8)
        ),
        url(../img/adv/image-adv-tab@2x.webp);
    }
  }

  .admertisement-title {
    font-size: 48px;
    line-height: 0.91667;
  }
  .admertisement-button {
  }
}
@media screen and (min-width: 1280px) {
  .admertisement-image {
    min-width: 1150px;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(../img/adv/image-adv-desk.webp);
  }
  @media screen and (min-resolution: 2x) {
    .admertisement-image {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.8),
          rgba(12, 12, 12, 0.8)
        ),
        url(../img/adv/image-adv-desk@2x.webp);
    }
  }

  .admertisement-title {
    width: 720px;
    margin-bottom: 0;
  }
}
