@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  color: #0c0c0c;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  width: 100%;
  min-width: 100%;
  margin: 0;
  background: #fbfbfb;
}

main {
}
