body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  width: 100%;
  min-width: 100%;
  margin: 0;
  background: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

section {
  margin-bottom: 60px !important;
}

@media only screen and (min-width: 768px) {
  section {
    margin-bottom: 80px !important;
  }
}

@media only screen and (min-width: 1280px) {
  section {
    margin-bottom: 100px !important;
  }
}
