/* Styles for Mobile devices */
.container {
  max-width: 335px;
  margin: 0 auto;
  padding: 0 10px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0 15px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;

    padding: 0 15px;
  }
}
