.hero {
  padding-top: 80px;
}

.hero-content {
  display: flex;
  margin-bottom: 28px;
  flex-direction: column;
}

.hero-text {
  max-width: 597px;
}

.hero-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.hero-title-blue {
  color: #3350e9;
}

.hero-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #0c0c0cb2;
}

.hero-text {
  margin-bottom: 28px;
}

.hero-person-scroll {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-img-list {
  display: flex;
  position: relative;
  min-width: 108px;
}

.block-test {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid black;
}

.test-1 {
  background-color: red;
  z-index: 1;
}

.test-2 {
  background-color: orange;
  z-index: 2;
}

.test-3 {
  background-color: green;
  z-index: 3;
}

.hero-scroll {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
}

.hero-watch-img img {
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-person-scroll {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.85;
  }
  .hero-text {
    margin-bottom: 0;
  }
  .hero-description {
    max-width: 480px;
    font-size: 16px;
  }

  .hero-img-list {
    min-width: 136px;
  }

  .block-test {
    width: 56px;
    height: 56px;
    justify-self: flex-start;
  }

  .hero-list-item {
    width: 56px;
    height: 56px !important;
  }

  .hero-list-item img {
    width: 56px;
    height: 56px !important;
  }

  .hero-list-item {
    width: 56px;
    height: 56px;
  }

  .hero-scroll {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
    line-height: 0.87;
  }

  .hero-list-item {
    width: 60px;
    height: 60px;
  }

  .hero-scroll {
    line-height: 1;
    font-size: 20px;
  }
}
