.sale {
<<<<<<< HEAD
  margin: 30px 0;
=======
}

.sale-content {
  display: flex;
  flex-direction: column;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
}

.sale-headline {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
<<<<<<< HEAD
=======
  margin-bottom: 40px;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
}

.sale-gallery {
  display: flex;
<<<<<<< HEAD
  gap: 5px;
  margin-top: 24px;
}

.sale-item-gallery {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  background-color: #f3f3f3;
  flex-basis: calc((100% - 15px) /4) ;
}

.sale-main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 385px;
  background-color: #f3f3f3;
  margin: 20px 0;
}

.sale-main-img img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.sale-card {
  padding: 48px 28px;
  background-color: #3350e9;
=======
  justify-content: space-between;
  margin-bottom: 20px;
}

.sale-imgs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sale-item-gallery {
  padding: 13px 14px;
  background-color: #f3f3f3;
  border: 1px solid #0c0c0c0d;
  border-radius: 16px;
  width: 80px;
  height: 80px;
}

.sale-item-gallery img {
  width: 100%;
}

.sale-main-img {
  padding: 50px;
  background-color: #f3f3f3;
  border: 1px solid #0c0c0c0d;
  border-radius: 30px;
}

.sale-card {
  background-color: #3350e9;
  color: #fbfbfb;
  padding: 40px 28px;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
  border-radius: 30px;
}

.sale-card-title {
  font-weight: 600;
  font-size: 24px;
<<<<<<< HEAD
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
=======
  line-height: 1.16;
  letter-spacing: -0.02em;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
  margin-bottom: 10px;
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
<<<<<<< HEAD
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
=======
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fbfbfb80;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
  margin-bottom: 20px;
}

.sale-price-block {
<<<<<<< HEAD

}

.sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
=======
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.sale-price {
  padding: 8px 12px;
  background-color: #fbfbfb1a;
  border-radius: 8px;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
  margin-right: 9px;
}

.sale-old-price {
<<<<<<< HEAD
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin: 28px 0;
=======
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: #fbfbfb80;
}

.sale-description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fbfbfbb2;
  margin-bottom: 28px;
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
}

.sale-tags {
  display: flex;
<<<<<<< HEAD
  gap: 8px;
  flex-wrap: wrap;
}

.sale-tag {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

@media screen (min-width: 768px) {
  
}

@media screen (min-width: 1280px) {}
=======
  flex-wrap: wrap;
  gap: 8px;
}

.sale-tag {
  padding: 8px 12px;
  border: 1px solid #fbfbfb33;
  border-radius: 8px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media only screen and (min-width: 767px) {
  .sale-headline {
    font-size: 48px;
    line-height: 0.91;
  }

  .sale-card {
    padding: 60px;
  }
  .sale-card-title {
    font-size: 32px;
    line-height: 1.12;
  }

  .sale-price {
    font-size: 20px;
    /* line-height: 0; */
  }

  .sale-description {
    font-size: 16px;
  }

  .sale-tag {
    font-size: 14px;
  }

  .sale-imgs {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .sale-gallery {
    flex-direction: column;
    margin: 0;
    margin-right: 20px;
  }

  .sale-item-gallery {
    padding: 16px 18px;
    width: 132px;
    height: 132px;
  }

  .sale-main-img {
    padding: 80px 112px;
  }

  .sale-tags {
    max-width: 398px;
  }
}

@media only screen and (min-width: 1280px) {
  .sale-card-title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -2%;
  }
  .sale-imgs {
    margin: 0;
  }
  .sale-gallery {
    gap: 10px;
  }
  .sale-content {
    flex-direction: row;
  }
  .sale-main-img {
    margin-right: 40px;
    padding: 80px 50px;
  }

  .sale-card {
    max-width: 530px;
  }
}
>>>>>>> 2850b33bc03852cc56690e224f99b7ace7438950
