.sale {
  margin: 30px 0 0 0;
}

.sale-headline {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.sale-gallery {
  display: flex;
  gap: 5px;
  margin-top: 24px;
}

.sale-item-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  background-color: #f3f3f3;
  flex-basis: calc((100% - 15px) /4);
}

.sale-main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 385px;
  background-color: #f3f3f3;
  margin: 20px 0;
}

.sale-main-img img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.sale-card {
  padding: 48px 28px;
  background-color: #3350e9;
  border-radius: 30px;
}

.sale-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}


.sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  margin-right: 9px;
}

.sale-old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin: 28px 0;
}

.sale-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.sale-tag {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

@media screen and (min-width: 768px) {
    .wrapper1 {
      display: flex;
      margin-top: 40px;
      gap: 20px;
      margin-bottom: 40px;
    }

    .sale-headline {
      font-weight: 600;
      font-size: 48px;
    }
  
    .sale-gallery {
      flex-direction: column;
      gap: 10px;
      margin-top: 0;
    }
  
    .sale-item-gallery {
      width: 132px;
      height: 132px;
      flex-basis: auto;
    }
  
    .sale-main-img {
      margin: 0;
      height: 558px;
      width: 552px;
    }
  
    .sale-card {
      padding: 60px;
    }
  
    .sale-card-title {
      font-size: 32px;
      line-height: 1.125;
      max-width: 436px;
    }
  
    .sale-price {
      font-size: 20px;
      line-height: 1;
    }
  
    .sale-description {
      margin: 30px 0;
      font-size: 16px;
      line-height: 1.25;
    }
  
    .sale-tags {
      max-width: 398px;
    }
  
    .sale-tag {
      font-size: 14px;
      line-height: 1.29;
    }
}

@media screen and (min-width: 1280px) {}